*{
    font-family: Verdana, sans-serif;
}
#name{
    line-height: 20px;
    width: 300px;
}
#shoeimage{
    width: 450px;
    height: 250px;
    margin-right: 5px;
    border-radius: 2px;
}
#title{
    color:#4169E1;
    font-size: 25px;
}

#productdescription{
    color:#4169E1;
    font-style: italic;
    font-size: 20px;
}

#submitbtn{
    background-color: white;
    border-radius: 5px;
    height: 40px;
    border-color: #4CFF33;
    transition-duration: 0.3s;
}
#submitbtn:hover {
    background-color: #4CFF33;
  }

#averageLable{
    color:#4169E1;
}

#ratingerror{
    color: red;
    font-style:italic;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4169E1;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4169E1;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #reviewtable{
        margin-left: auto;
        margin-right: auto;
  }

  .bold{
      font-weight:bold;
  }

  #templatetable{
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    border-left-color:#4169E1;
    border-right-color:#4169E1;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
  }
#nameRequired{
    color: red;
}